annotated-types
anyio
cachetools
certifi
charset-normalizer
colorama
filetype
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
jsonpatch
jsonpointer
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
numpy
opencv-python-headless
orjson
packaging
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-telegram-bot
PyYAML
requests
requests-toolbelt
rsa
sniffio
SQLAlchemy
tenacity
tqdm
typing_extensions
uritemplate
urllib3
zstandard
